/* general styling */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* its just ammount of 10px from 16px */
    font-size: 62.5%;
    /* custom properties for padding. key *
    1. sizing nature
    d = dynamic
    st = static
    -----------sizing
    L = Large
    M = medium
    S = small
    XS = extra small
    C = Customized

    ------ orientation
    h = horizontal 
    v = vertical
   */
    --color-primary:#292556;
    --color-secondary:#3F3B6C;
    --color-teritary:#A3C7D6;
    --color-quaternary:#40636F;

    --padding-d-l-v: calc(2rem + 12vh);
    --padding-d-l-h: calc(2rem + 12vw);

    --padding-d-mc-v: calc(2rem + 4vh);
    --padding-d-mc-h: calc(2rem + 4vw);

    --padding-d-m-v: calc(2rem + 2vh);
    --padding-d-m-h: calc(2rem + 2vw);

    --padding-d-s-v: calc(2rem + 1vh);
    --padding-d-s-h: calc(2rem + 1vw);

    --padding-st-l-v: 2rem;
    --padding-st-l-h: 3rem;

    --padding-st-m-h: 2.5rem;
    --padding-st-m-v: 1.5rem; 

    
    --padding-st-s-h: 2rem;
    --padding-st-s-v: 1rem; 
    /* Font size Documantation */
    --font-size-d-lc:calc(3rem + 3.5vw);
    --font-size-d-l:calc(2rem + 3vw);
    --font-size-d-mc:calc(1rem + 2.5vw);
    --font-size-d-m:calc(1rem + 1.5vw);
    --font-size-d-sc:calc(1rem + 1vw);
     
    /* static font size */
    --font-size-st-xl:4rem;
    --font-size-st-lc:3.5rem;
    --font-size-st-l:3rem;
    --font-size-st-mc:2.5rem;
    --font-size-st-m:2rem;
    --font-size-st-sc:1.5rem;
    --font-size-st-sc:1rem;

    /* font-family */

    --font-family-title: 'Oswald', sans-serif;
    --font-family-content: 'Caveat', cursive;
 }

 /* utility classes */
 /* utility classes for section padding*/
.section__padding{
    padding: var(--padding-d-l-v) var(--padding-d-l-h);

}
/* section title */
.section__title{
    font-size: var(--font-size-st-l);
    font-family:var(--font-family-title) ;
    font-weight: 900;
}
.section__para{
    font-size: var(--font-size-st-l);
    color: var(--color-quaternary);
}
body
{
    color: var(--color-teritary);
    background-color: var(--color-secondary);
    font-family: sans-serif;
    line-height: 1.6;
    font-size: var(--font-size-d-sc);
    
}
.header{
      
    display: flex;
  flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    gap: 3rem;
}
.header--title{
    margin: 1rem;
   line-height: 1;
    color: #32EDB4;
    align-self: flex-start;
    justify-self: flex-start;
}
.header--title span{
    /* margin: -7rem 1rem; */
    font-weight: 100;
   
padding: 1rem;
    background-color:white;
    color: green;
    font-size: 1.6rem;
    display: block;
}
.header--para{
   
    font-weight: 100;
    margin-bottom: 2rem;
}

.main{
    
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    height: 80vh;
    width: 100vw;
   
}
.notebook{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    gap: 2rem;
    padding: 4rem;
}
.notebook--title{
    font-weight: 100;
    color: #32EDB4;
    cursor: pointer;
   
    position: relative;

}
.notebook--title::after{
    position:absolute;
    font-size: 3rem;
  content: " ";
  left: 0;
  bottom: 0;
  height: 3px;
width: 100%;
transform: scale(0);
transform-origin: right;
transition: transform  0.3s ease-in-out;
background-color: #32EDB4;
}
.notebook--title:hover::after{
    transform: scale(1);
    transform-origin: left;
}

.notebook__textarea textarea{
   border: none;
   border-radius: 2rem;
   background-color: gray;
   color: white;
   outline: none;
   padding:var(--padding-d-s-v) var(--padding-d-s-h);
   font-size: 1.5rem;
   
}
.notebook--mini-title{
    font-weight: 100;
    display: none;
}
.notebook--button{
    background-color: #624F82;
    padding: 1.3rem;
    border-radius: 2rem;
    cursor: pointer;
}
.saved-note{
    /* flex-basis: 50%; */
    display: flex;
    align-items: center;
    flex-direction: column;
background-color: #40636F;
border-radius: 5px;
    padding: 5rem;
    
}
.saved-note--title{
 cursor: pointer;
    font-weight: 100;
    color: #32EDB4;
    position: relative;
}
.saved-note--title::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: gray;
}
.saved-note__lists{
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    column-gap :1rem;
    row-gap: 1rem;
}
.saved-note__lists--title{
    display: flex;
      flex-basis: 20%;
    padding: 1rem;
    background-color: #624F82;
    position: relative;

}

.saved-note__lists--title::after{
    position: absolute;
    content: "sdfsdf";
    background-color: black;
    left: 0;
    right: -6%;
    bottom: -5%;
   height: 100%;
   z-index: -1;
}
